.noLink {
    text-decoration: none;
    color: white !important;
}
.TouchActionNone{
    touch-action: none;
}
.rotated-90{
    transform: rotate(90deg);
    display: inline-block;
  }
  .greyColor{
    color: #e2e2e296;
  }